<h1 class = "sample__answer_word jp">
    <%= @word.word_jp%>
</h1>

<div class="sample__answer_button">
    <h1 class= "sample__answer_good">
        <%= link_to("完璧", "/") %>
    </h1>

    <h1 class= "sample__answer_bad">
        <%= link_to("残念", "/") %>
    </h1>
</div>